# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Docs

on:
  push:
    branches:
      - master

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x' 
      - run: pip install -r requirements.txt
      - run: mkdocs gh-deploy

  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
